/.idea
/app
/bootstrap
/config
/database
/node_modules
/.phpunit.cache
/public
/resources
/routes
/storage
/vendor

.DS_Store
.editorconfig
.env
.gitattributes
artisan
artisan.php
package-lock.json
package.json
vite.config.js
tags
