parameters:
    level: max
services:
    -
        class: Rules\Functions\ForbidIsEmptyRule
        tags: [phpstan.rules.rule]
    -
        class: Rules\Functions\ForbidIsNullRule
        tags: [phpstan.rules.rule]
    -
        class: Rules\TypesBasedOnClass\ForbidNonResponseTypeInControllerRule
        tags: [phpstan.rules.rule]
    -
        class: Rules\TypesBasedOnClass\ForbidResponseInClassesRule
        tags: [phpstan.rules.rule]
    -
        class: Rules\Operators\ForbidElvisOperatorRule
        tags: [phpstan.rules.rule]
