parameters:
    architectureRules:
        allRules: true
        forbidEmpty: %architectureRules.allRules%
        forbidIsNull: %architectureRules.allRules%
        forbidElvis: %architectureRules.allRules%
        architectureRules: %architectureRules.allRules%
parametersSchema:
    architectureRules: structure([
        allRules: anyOf(bool(), arrayOf(bool())),
        forbidEmpty: anyOf(bool(), arrayOf(bool())),
        forbidIsNull: anyOf(bool(), arrayOf(bool())),
        forbidElvis: anyOf(bool(), arrayOf(bool()))
        architectureRules: anyOf(bool(), arrayOf(bool()))
    ])
conditionalTags:
   ArchitectureStandards\Rules\Functions\ForbidIsEmptyRule:
       phpstan.rules.rule: %architectureRules.forbidEmpty%
   ArchitectureStandards\Rules\Functions\ForbidIsNullRule:
       phpstan.rules.rule: %architectureRules.forbidIsNull%
   ArchitectureStandards\Rules\Operators\ForbidElvisOperatorRule:
       phpstan.rules.rule: %architectureRules.forbidElvis%
   ArchitectureStandards\Rules\Architecture\ForbidResponseInClassesRule:
       phpstan.rules.rule: %architectureRules.architectureRules%
   ArchitectureStandards\Rules\Architecture\ForbidNonResponseTypeInControllerRule:
       phpstan.rules.rule: %architectureRules.architectureRules%
   ArchitectureStandards\Rules\Architecture\ForbidDynamicMethodsInHelperClassRule:
          phpstan.rules.rule: %architectureRules.architectureRules%
   ArchitectureStandards\Rules\Architecture\ForbidStateInHelperClassRule:
       phpstan.rules.rule: %architectureRules.architectureRules%
   ArchitectureStandards\Rules\Documentation\ForbidPrimitiveTypeSynonymsRule:
       phpstan.rules.rule: %architectureRules.architectureRules%
   ArchitectureStandards\Rules\Documentation\ForbidUndocumentedTagsRule:
       phpstan.rules.rule: %architectureRules.architectureRules%
   ArchitectureStandards\Rules\Architecture\ForbidCallbackWithoutReturnTypeRule:
       phpstan.rules.rule: %architectureRules.architectureRules%

services:
    -
        class: ArchitectureStandards\Rules\Functions\ForbidIsEmptyRule
    -
        class: ArchitectureStandards\Rules\Functions\ForbidIsNullRule
    -
        class: ArchitectureStandards\Rules\Architecture\ForbidNonResponseTypeInControllerRule
    -
        class: ArchitectureStandards\Rules\Architecture\ForbidResponseInClassesRule
    -
        class: ArchitectureStandards\Rules\Operators\ForbidElvisOperatorRule
    -
        class: ArchitectureStandards\Rules\Architecture\ForbidStateInHelperClassRule
    -
        class: ArchitectureStandards\Rules\Architecture\ForbidDynamicMethodsInHelperClassRule
    -
        class: ArchitectureStandards\Rules\Documentation\ForbidPrimitiveTypeSynonymsRule
    -
        class: ArchitectureStandards\Rules\Documentation\ForbidUndocumentedTagsRule
    -
        class: ArchitectureStandards\Rules\Architecture\ForbidCallbackWithoutReturnTypeRule
